/* General section styles */
.projectContainer {
  color: #333;
  padding: 2rem 2rem 4rem;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  overflow: hidden; 
  justify-content: center; 
  align-items: center;
}

/* Heading style */
.projectContainer .h2 {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #1e1e1e;
  margin-bottom: 1rem;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 250px; 
  overflow-y: auto;
  text-align: center;
}

/* Button styles for project headings */
.projectContainer .h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}


/* Hover effect for buttons */
.projectContainer .h2:hover {
  text-decoration: underline;
    text-decoration-thickness: 3px; /* Adjusts the thickness of the underline */
    text-underline-offset: 15px; 
    color: black;
}
.projectContainer .h2.active {
  text-decoration: underline;
    text-decoration-thickness: 4px; /* Adjusts the thickness of the underline */
    text-underline-offset: 15px; 
    color: black;
}

/* Selected project details */

.projectDetails {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 1200px;
  height: 77%;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  transition: opacity 0.5s ease-in-out; 
  overflow-y: auto; 
}


.projectImg {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 60%;
  height: 450px;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover; 
}

.numberBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.number.active {
  background-color: #007bff;
}

.number:hover {
  background-color: #0056b3;
}

.titleIcon {
  display:flex;
  justify-content: space-between;
}

.iconG {
  width: 60px; 
  height: 50px; 
}

.iconG:hover {
  border-bottom-color: transparent;
  fill: #92dfab;
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
  /* Project container styles */
  .projectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .sidebarContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
    width: 100%; /* Make sidebar container take full width */
    height: 10%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  /* Button styles for project headings */
  .sidebarContainer .h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    display: inline-block;
  } 

  /* Selected project details */
  .projectDetails {
    flex-grow: 1;
    width: 100%;
    height: 90%;
    margin-top: 1rem;
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
  }
  .projectImg{
    width: 100%;
    height: 300px;
  }

 
  .projectContainer .h2.active {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }
}