.splitSection {
  width: 100%;
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem;
  color: white;
  box-sizing: border-box;
  z-index: 1;
  background-color: var(--splash-background);
  
}

body.night-mode .splitSection {
  background-color: black;
 
}



.splitSectionText {
  width: 90%;
  text-align: start;
  font-family: Bitter, serif;
  margin-bottom: 2rem;
  color: black;
  font-size: 5rem;
  opacity: 0;
  animation: fadeInText 2s forwards;
  animation-delay: 0.5s; /* Delay for the text to start appearing */
    display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px; /* Space between elements */
  color: var(--text-color);
}

.splitSectionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.splitSectionButtons {
  display: none !important;
}

.solutionsEngineer {
  display: none;
}

.splitSectionText b {
    font-weight: 900;
    line-height: 1.1;
    text-align: start;
    margin: 0;
    padding: 0;
}

.heading {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.headingBtn {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background: black;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
  margin-top: 5px;
  
}

.headingBtn:hover {
  border-bottom-color: transparent;
  background-color: #92dfab;
}

.subheading {
  font-size: 1rem;
 
}
/* .profilephoto {
  width: 350px;
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(20px); 
  animation: popUpImage 1.5s forwards;
  animation-delay: 1s; 
} */

.profilephoto {
display: none;
}

.nameBox {
  display: none;
}

.scrollButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  animation: popUpImage 1.5s forwards;
  animation-delay: 1.5s; /* Delay for the image to pop up after text is done */
  position: relative;
  top: 9rem;
  
}

.arrow {
  font-size: 2.5rem; /* Increase the size of the arrow */
  color: var(--text-color);

 
}

.arrow2 {
  font-size: 2.5rem; /* Increase the size of the arrow */
  animation: bounce 2s infinite; /* Infinite bounce animation */
  transition: transform 0.2s ease;
  color: var(--text-color);
}

.arrow3 {
  display:none;
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the same position */
  }
  50% {
    transform: translateY(-10px); /* Move up by 10px at the midpoint */
  }
}

@keyframes popUpImage {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Slightly below its final position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* Adjustments for mobile screens */
@media (max-width: 768px) {
  .splitSection {
    height: 100%; /* Allow height to adjust based on content */
    margin-top: 0; 
    display: flex; /* Use flexbox layout */
    flex-direction: column; 
    align-items: center; 
    padding: 0 1rem 3rem 1rem;
    
  }

  .scrollButton {
    top: .6rem;
  }

  .splitSectionText {
    font-size: 1.5rem; 
    margin-bottom: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .splitSection b {
/* display: none */
font-size: 2.5rem;
  }
  .heading {
    font-size: 1.5rem;
  }

  .subheading {
    display: block;
    font-size: 1rem;
  }

  .solutionsEngineer {
    /* display: block;
    color: var(--text-color);
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20px); 
    animation: popUpImage 1.5s forwards;
    animation-delay: 1s;  */
    display: none;
    
  }

  .splitSectionContent {
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
    align-items: center; /* Center content horizontally */
    width: 100%;
    text-align: center; /* Center text inside */
  }

  .profilephoto {
    display: block;
    width: 160px; /* Smaller profile photo for mobile */
    height: 210px; /* Maintain aspect ratio for profile photo */
    padding: 1rem;
    background-size: cover;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(20px); 
  animation: popUpImage 1.5s forwards;
  animation-delay: 1s; 
  margin: 0 auto;
  }

  .headingBtn {
    background-color: var(--contact-btn);
    color: var(--contact-btn-text);
  }

  .splitSectionButtons {
    display: flex !important;
    flex-direction: column;
    display: flex;
    gap: 25px;
    margin-top: 1.5rem;
  }

 
  .nameBox {
    display: inline-block; /* Allows padding and border to fit around text */
    padding: 1.5rem 2rem; /* Adjust padding to make the box larger */
    border: var(--border-color); /* White border */
    border-radius: 8px; /* Optional: adds rounded corners to the box */
    /* color: #ffffff;  */
    text-align: center; /* Center text inside the box */
    font-size: 2rem; /* Increase font size for emphasis */
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
    animation: popUpImage 1.5s forwards;
    animation-delay: 1s; /* Delay for the image to pop up after text is done */
    
    
  }

  .btn {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    border: solid 1px !important;
    border-color: #a5a5a5 !important;
    border-radius: 3em;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    letter-spacing: 0.2em;
    line-height: 2.75em;
    background-color: rgb(255, 255, 255, 0.4);
  }

  .btn:hover {
    background-color: black;
    color: white;
  }

  .nameBox .firstName {
    display: block; /* Ensures first name is on top */
    font-size: 2.5rem; /* Larger font size for first name */
    letter-spacing: 1rem;
  }


  .nameBox .lastName {
    display: block; /* Ensures last name is below */
    font-size: 2rem; /* Adjust font size for last name */
    letter-spacing: 0.75rem;
  }
  .btn {
    padding: 8px 80px;
    line-height: 1.75em; /* Adjust line height for mobile */
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }


  .arrow {
    /* display: none; */
  }
  .arrow2{ 
    /* display: none; */
  }
  .arrow3 {
    /* display: block;
    font-size: 2.5rem; 
    color: var(--text-color);
    animation: bounce 2s infinite; 
    transition: transform 0.2s ease; */
    display: none;
  }

 
  .headingBtn {
/* display: none */
  }
}
