.contact{
    padding: 2rem;
  }

  .icons {
    width: 100%;
    
  }

  .iconContainer {
    width: 10px;
    display: flex;
    gap: 1rem;
  }
  .icon {
    width: 50px;
  }

  .icon:hover {
    border-bottom-color: transparent;
      fill: #92dfab;	
  }