
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--splash-background);
  color: var(--text-color);
  }
  
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }