
.aboutMe {
  color: white; 
  padding: 8rem;
  width: 100%; 
  box-sizing: border-box;
  box-shadow: 0 4px 8px #0000001a; 
  /* background-color: var(--gradient-color);
  background-image: var(--gradient-background); */
  color: var(--text-color);
  /* background-color: #c3cbdc;
background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%); */

background-color: var(--splash-background);
color: var(--text-color);
}

.imgDiv {
  display: flex;
  justify-content: center;
}
.profilephoto {
  width: 350px;
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  opacity: 1;
  transform: translateY(20px); /* Start slightly below */
  animation: popUpImage 1.5s forwards;
  animation-delay: 1s; /* Delay for the image to pop up after text is done */
}
/* Heading style */
.aboutMe h2 {
  font-family: 'Georgia', serif; /* Elegant serif font */
  font-size: 3rem; /* Large heading size */
  text-align: center;
}

/* Paragraph styles */
.aboutMe p {
  font-family: 'Arial', sans-serif; /* Clean sans-serif font */
  font-size: 1.7rem; /* Slightly larger font size for readability */
  line-height: 1.6; /* Increased line height for better readability */
  margin-bottom: 3rem; 
}

.aboutMe h2, .aboutMe p {
  transition: color 0.3s ease;
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
  .aboutMe {
    padding: 2rem 1rem; /* Reduce padding for mobile */
    height: auto; /* Allow height to adjust based on content */
    border-radius: 0%;
    

  }

  .aboutMe h2 {
    font-size: 1.8rem; /* Smaller heading size for mobile */
    margin-bottom: 3rem; /* Reduced space below the heading */
  }

  .aboutMe p {
    font-size: 1.2rem; /* Smaller font size for mobile */
    margin-bottom: 2rem; /* Reduced space between paragraphs */
  }
}


  