.split-section {
    /* display: flex; */
    width: 100%;
    margin-top:60px;
    height: 100vh;
    background-image: url('/public/images/splash2.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center; 
  justify-content: center; /* Center content horizontally */
  position: relative; /* Ensure the section is positioned relative to the content */
  overflow: hidden; /* Prevent overflow issues */
  z-index: 1; /* Ensure this section stays on top */
  }

  
  .split-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Titillium Web';
    font-size: 2.0rem; 
    margin-bottom: 2rem;
    text-align: center; 
    
  }
  
  .split-section__text h1 {
    margin: 0 0 20px;
  }
  
  .split-section__text p {
    margin: 0;
  }

  .profilephoto {
    width: 280px; 
    height: 350px; 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    display: block; 
  }

  .split-section__buttons {
    display: flex;
    gap: 25px; 
    margin-top:1.5rem;
    
  }

  .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    /* color: #a5a5a5; */
    color: black;
    border: solid 1px !important;
    border-color: #a5a5a5 !important;
    border-radius: 3em;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    letter-spacing: 0.20em;
    line-height: 2.75em;
    padding: 0 3.75em;
    background-color: rgb(255, 255, 255, 0.4)
  }
  
  .btn:hover {
    background-color: black;
    color: white;
    /* background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
  }